In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('detection_results.csv')

In [3]:
df.head()

                image_name  confidence_value  IoU_value
0  IMG_20100101_021624.jpg                 0   0.974610
1             IMG_1234.jpg                 0   0.148173
2             IMG_1243.jpg                 0   0.876076
3  IMG_20180714_102511.jpg                 0   0.914190
4  IMG_20180713_104842.jpg                 0   0.804885